


<div class="row-fluid">

    <div class="big-box clear">

        <div class="box">
            <button class="btn" data-bind="click: sLeft"> < </button>
        </div>
        <div class="box">
            <button class="btn fas fa-home" data-bind="click: sCenter"> </button>
        </div>
        <div class="box">
            <button class="btn" data-bind="click: sRight"> > </button>
        </div>

    </div>

    <div class="big-box clear">

        <div class="box">
            <button class="btn" data-bind="click: sUp"> < </button>
        </div>
        <div class="box">
            <button class="btn" data-bind="click: tiltCenter"> C </button>
        </div>
        <div class="box">
            <button class="btn" data-bind="click: sDown"> > </button>
        </div>

    </div>


</div>